<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="Windows_AUT"
         providerName ="System.Data.SqlClient"
         connectionString ="Data Source=PDH\SQLEXPRESS;
                            Initial Catalog=BD_Centro_Lavado_Octopus;
                            Integrated Security=True;"
         />
    <add name="SQL_AUT"
         providerName ="System.Data.SqlClient"
         connectionString ="Data Source=PDH\SQLEXPRESS;
                            Initial Catalog=BD_Centro_Lavado_Octopus;
                            Persist Security Info=True;
                            user id=sa;
                            Password=123456;"
         />
  </connectionStrings>

  <appSettings>
    
    <!--Promociones-->
    <add key="Listar_Promociones" value="dbo.SP_LISTAR_PROMOCIONES"/>
    <add key="Insertar_Promociones" value="dbo.SP_INSERTAR_PROMOCIONES"/>
    <add key="Modificar_Promociones" value="dbo.SP_MODIFICAR_PROMOCIONES"/>
    <add key="Filtrar_Promociones" value="dbo.SP_FILTRAR_PROMOCIONES"/>
    
    <!--Proveedores-->
    <add key="Listar_Proveedores" value="dbo.SP_LISTAR_PROVEEDORES"/>
    <add key="Insertar_Proveedores" value="dbo.SP_INSERTAR_PROVEEDORES"/>
    <add key="Modificar_Proveedores" value="dbo.SP_MODIFICAR_PROVEEDORES"/>
    <add key="Filtrar_Proveedores" value="dbo.SP_FILTRAR_PROVEEDORES"/>
    
    <!--Roles-->
    <add key="Listar_Roles" value="dbo.SP_LISTAR_ROLES"/>
    <add key="Insertar_Roles" value="dbo.SP_INSERTAR_ROLES"/>
    <add key="Modificar_Roles" value="dbo.SP_MODIFICAR_ROLES"/>
    <add key="Filtrar_Roles" value="dbo.SP_FILTRAR_ROLES"/>
    
    <!--Tipo Polizas-->
    <add key="Listar_TipoPolizas" value="dbo.SP_LISTAR_TIPO_POLIZAS"/>
    <add key="Insertar_TipoPolizas" value="dbo.SP_INSERTAR_TIPO_POLIZAS"/>
    <add key="Modificar_TipoPolizas" value="dbo.SP_MODIFICAR_TIPO_POLIZAS"/>
    <add key="Filtrar_TipoPolizas" value="dbo.SP_FILTRAR_TIPO_POLIZAS"/>
    
    <!--Tipo Articulo-->
    <add key="Listar_TipoArticulo" value="dbo.SP_LISTAR_TIPO_ARTICULO"/>
    <add key="Insertar_TipoArticulo" value="dbo.SP_INSERTAR_TIPO_ARTICULO"/>
    <add key="Modificar_TipoArticulo" value="dbo.SP_MODIFICAR_TIPO_ARTICULO"/>
    <add key="Filtrar_TipoArticulo" value="dbo.SP_FILTRAR_TIPO_ARTICULO"/>
    
    <!--Factura-->
    <add key="Listar_Factura" value="dbo.SP_LISTAR_FACTURA"/>
    <add key="Insertar_Factura" value="dbo.SP_INSERTAR_FACTURA"/>
    <add key="Modificar_Factura" value="dbo.SP_MODIFICAR_FACTURA"/>
    <add key="Filtrar_Factura" value="dbo.SP_FILTRAR_FACTURA"/>
    
    <!--Usuarios-->
    <add key="Listar_Usuarios" value="dbo.SP_LISTAR_USUARIOS"/>
    <add key="Insertar_Usuarios" value="dbo.SP_INSERTAR_USUARIOS"/>
    <add key="Modificar_Usuarios" value="dbo.SP_MODIFICAR_USUARIOS"/>
    <add key="Filtrar_Usuarios" value="dbo.SP_FILTRAR_USUARIOS"/>
    
    <!--Articulos-->
    <add key="Listar_Articulos" value="dbo.SP_LISTAR_ARTICULOS"/>
    <add key="Insertar_Articulos" value="dbo.SP_INSERTAR_ARTICULOS"/>
    <add key="Modificar_Articulos" value="dbo.SP_MODIFICAR_ARTICULOS"/>
    <add key="Filtrar_Articulos" value="dbo.SP_FILTRAR_ARTICULOS"/>
    
    <!--Clientes-->
    <add key="Listar_Clientes" value="dbo.SP_LISTAR_CLIENTES"/>
    <add key="Insertar_Clientes" value="dbo.SP_INSERTAR_CLIENTES"/>
    <add key="Modificar_Clientes" value="dbo.SP_MODIFICAR_CLIENTES"/>
    <add key="Filtrar_Clientes" value="dbo.SP_FILTRAR_CLIENTES"/>
    
    <!--Empleados-->
    <add key="Listar_Empleados" value="dbo.SP_LISTAR_EMPLEADOS"/>
    <add key="Insertar_Empleados" value="dbo.SP_INSERTAR_EMPLEADOS"/>
    <add key="Modificar_Empleados" value="dbo.SP_MODIFICAR_EMPLEADOS"/>
    <add key="Filtrar_Empleados" value="dbo.SP_FILTRAR_EMPLEADOS"/>
    
    <!--Familia Articulos-->
    <add key="Listar_FamiliaArticulos" value="dbo.SP_LISTAR_FAMILIA_ARTICULOS"/>
    <add key="Insertar_FamiliaArticulos" value="dbo.SP_INSERTAR_FAMILIA_ARTICULOS"/>
    <add key="Modificar_FamiliaArticulos" value="dbo.SP_MODIFICAR_FAMILIA_ARTICULOS"/>
    <add key="Filtrar_FamiliaArticulos" value="dbo.SP_FILTRAR_FAMILIA_ARTICULOS"/>
    
    <!--Horarios-->
    <add key="Listar_Horarios" value="dbo.SP_LISTAR_HORARIOS"/>
    <add key="Insertar_Horarios" value="dbo.SP_INSERTAR_HORARIOS"/>
    <add key="Modificar_Horarios" value="dbo.SP_MODIFICAR_HORARIOS"/>
    <add key="Filtrar_Horarios" value="dbo.SP_FILTRAR_HORARIOS"/>
    
    <!--Compra-->
    <add key="Listar_OrdenesCompra" value="dbo.SP_LISTAR_ORDENES_COMPRA"/>
    <add key="Insertar_OrdenesCompra" value="dbo.SP_INSERTAR_ORDENES_COMPRA"/>
    <add key="Modificar_OrdenesCompra" value="dbo.SP_MODIFICAR_ORDENES_COMPRA"/>
    <add key="Filtrar_OrdenesCompra" value="dbo.SP_FILTRAR_ORDENES_COMPRA"/>
    
    <!--Planillas-->
    <add key="Listar_Planillas" value="dbo.SP_LISTAR_PLANILLAS"/>
    <add key="Insertar_Planillas" value="dbo.SP_INSERTAR_PLANILLAS"/>
    <add key="Modificar_Planillas" value="dbo.SP_MODIFICAR_PLANILLAS"/>
    <add key="Filtrar_Planillas" value="dbo.SP_FILTRAR_PLANILLAS"/>
    
    <!--Polizas-->
    <add key="Listar_Polizas" value="dbo.SP_LISTAR_POLIZAS"/>
    <add key="Insertar_Polizas" value="dbo.SP_INSERTAR_POLIZAS"/>
    <add key="Modificar_Polizas" value="dbo.SP_MODIFICAR_POLIZAS"/>
    <add key="Filtrar_Polizas" value="dbo.SP_FILTRAR_POLIZAS"/>
    
    <!--Transacciones Compra-->
    <add key="Listar_TransaccionesCompra" value="dbo.SP_LISTAR_TRANSACCIONES_COMPRA"/>
    <add key="Insertar_TransaccionesCompra" value="dbo.SP_INSERTAR_TRANSACCIONES_COMPRA"/>
    <add key="Modificar_TransaccionesCompra" value="dbo.SP_MODIFICAR_TRANSACCIONES_COMPRA"/>
    <add key="Filtrar_TransaccionesCompra" value="dbo.SP_FILTRAR_TRANSACCIONES_COMPRA"/>
        
    <!--Transacciones Venta-->
    <add key="Listar_TransaccionesVenta" value="dbo.SP_LISTAR_TRANSACCIONES_VENTA"/>
    <add key="Insertar_TransaccionesVenta" value="dbo.SP_INSERTAR_TRANSACCIONES_VENTA"/>
    <add key="Modificar_TransaccionesVenta" value="dbo.SP_MODICAR_TRANSACCIONES_VENTA"/>
    <add key="Filtrar_TransaccionesVenta" value="dbo.SP_FILTRAR_TRANSACCIONES_VENTA"/>
    
    <!--Ajustes Inventario-->
    <add key="Listar_AjustesInventario" value="dbo.SP_LISTAR_AJUSTES_INVENTARIO"/>
    <add key="Insertar_AjustesInventario" value="dbo.SP_INSERTAR_AJUSTES_INVENTARIO"/>
    <add key="Modificar_AjustesInventario" value="dbo.SP_MODIFICAR_AJUSTES_INVENTARIO"/>
    <add key="Filtrar_AjustesInvantario" value="dbo.SP_FILTRAR_AJUSTE_INVENTARIO"/>
    
    <!--Estados-->
    <add key="Listar_Estados" value="dbo.SP_LISTAR_ESTADOS"/>
    <add key="Insertar_Estados" value="dbo.SP_INSERTAR_ESTADOS"/>
    <add key="Modificar_Estados" value="dbo.SP_MODIFICAR_ESTADOS"/>
    <add key="Filtrar_Estados" value="dbo.SP_FILTRAR_ESTADOS"/>
    
    <!--Citas-->
    <add key="Listar_Citas" value="dbo.SP_LISTAR_CITAS"/>
    <add key="Insertar_Citas" value="dbo.SP_INSERTAR_CITAS"/>
    <add key="Modificar_Citas" value="dbo.SP_MODIFICAR_CITA"/>
    <add key="Filtrar_Citas" value="dbo.SP_FILTRAR_CITAS"/>
    
    <!--Centro de Lavado Octopus-->
    <add key="Listar_LavadoOctopus" value="dbo.SP_LISTAR_C_Lavado_Octupus"/>
    
    <!--Tipo Factura-->
    <add key="Listar_TipoFactura" value="dbo.SP_LISTAR_TIPO_FACTURA"/>
    <add key="Insertar_TipoFactura" value="dbo.SP_INSERTAR_TIPO_FACTURA"/>
    <add key="Modificar_TipoFactura" value="dbo.SP_MODIFICAR_TIPO_FACTURA"/>
    <add key="Filtrar_TipoFactura" value="dbo.SP_FILTRAR_TIPO_FACTURA"/>
    
    <!--Tipo Vehiculo-->
    <add key="Listar_TipoVehiculo" value="dbo.SP_LISTAR_TIPO_VEHICULO"/>
    <add key="Insertar_TipoVehiculo" value="dbo.SP_INSERTAR_TIPO_VEHICULO"/>
    <add key="Modificar_TipoVehiculo" value="dbo.SP_MODIFICAR_TIPO_VEHICULO"/>
    <add key="Filtrar_TipoVehiculo" value="dbo.SP_FILTRAR_TIPO_VEHICULO"/>
    
    <!--Tipo Servicio-->
    <add key="Listar_TipoServicio" value="dbo.SP_LISTAR_TIPO_SERVICIO"/>
    <add key="Insertar_TipoServicio" value="dbo.SP_INSERTAR_TIPO_SERVICIO"/>
    <add key="Modificar_TipoServicio" value="dbo.SP_MODIFICAR_TIPO_SERVICIO"/>
    <add key="Filtrar_TipoServicio" value="dbo.SP_FILTRAR_TIPO_SERVICIO"/>
    
    <!--Tipo Cambio-->
    <add key="Listar_TipoCambio" value="dbo.SP_LISTAR_TIPO_CAMBIO"/>
    <add key="Insertar_TipoCambio" value="dbo.SP_INSERTAR_TIPO_CAMBIO"/>
    <add key="Modificar_TipoCambio" value="dbo.SP_MODIFICAR_TIPO_CAMBIO"/>
    <add key="Filtrar_TipoCambio" value="dbo.SP_FILTRAR_TIPO_CAMBIO"/>
    
    <!--Tipo Placa-->
    <add key="Listar_TipoPlaca" value="dbo.SP_LISTAR_TIPO_PLACA"/>
    <add key="Insertar_TipoPlaca" value="dbo.SP_INSERTAR_TIPO_PLACA"/>
    <add key="Modificar_TipoPlaca" value="dbo.SP_MODIFICAR_TIPO_PLACA"/>
    <add key="Filtrar_TipoPlaca" value="dbo.SP_FILTRAR_TIPO_PLACA"/>
    
    
  </appSettings>
</configuration>